
<div class="all autrepage">
    <div class="page">
      <header>
  		<nav class="nav1">
  			<ul id="list1">
    			<li>
      				<a href="/">
        				<%= image_tag("thp.png", :alt => "thp", size: "45x45", class: "logo") %>
      				</a>
    			</li>
						  	<div class="babar dropdown show">
						  <a class="pierre btn-lg btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						  </a>

						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Le Programme", {:controller => "statics", :action => "programme"}, class:"dropdown-item"%>
						    <li class="divider"></li>
                <%= link_to "Le Peer-Learning", {:controller => "statics", :action => "peer"}, class:"dropdown-item"%>
						    <li class="divider"></li>
                <%= link_to "Le Code", {:controller => "statics", :action => "communaute"}, class:"dropdown-item"%>
						  </div>
						</div>
				</div>
			</ul>
  		</nav>
      <article class="peertest">
          <h1>Le Code</h1>
        <div class="paragrapheun">
        <h3>Le seul coding bootcamp gratuit.</h3>
          <p>
Au XVIème siècle, on s'interrogeait : "La population doit-elle savoir lire et écrire ?". En 2017, la question ne se pose plus. De même, en 2050, savoir programmer sera devenu une compétence élémentaire. Rentrez dans le futur avec nous et apprenez à coder.
</p>
<p>

Félix et Charles ont voulu créer pour vous un cursus où vous ne serez ni stagiaire ni élève. Ils ont créé un cursus pour que vous deveniez des corsaires ! Que vous sachiez à peine vous servir de Google Chrome ou que le terminal n'ait aucun secret pour vous, tout le monde est bienvenu.e
</p>
<p>
  Félix et Charles ont voulu créer pour vous un cursus où vous ne serez ni stagiaire ni élève. Ils ont créé un cursus pour que vous deveniez des corsaires ! Que vous sachiez à peine vous servir de Google Chrome ou que le terminal n'ait aucun secret pour vous, tout le monde est bienvenu.e
</p>
</div >
<div  class="paragraphedeux">
<h3>Une méthodo au top</h3>
<p>
Notre formation utilise le principe du peer-learning : nous allons constituer des groupes autonomes de ~6 personnes qui vont transpirer ensemble tous les jours pendant 12 semaines.
</p>
<p>
Tous les matins, nous donnerons des ressources (ex: faire une track CodeCademy, suivre une vidéo faite par nous-même, ou exécuter un tutoriel), puis nous vous demanderons de faire des projets concrets qui vont mettre en pratique les compétences vues dans les ressources. Les projets seront suffisamment challengeant pour stimuler le cerveau et permettre à la force du groupe de rayonner, mais jamais décourageants.
</p>
<p>
Si le groupe formera un noyau dur sur lequel vous pouvez compter, il y a aussi une communauté de plus de 200 personnes qui englobe des devs, les alumnis, les fondateurs, et bien entendu tous les élèves ! Le but de toute cette communauté est de créér un écosystème bienveillant et où personne n'aura aucune gène à poser des questions, même les plus stupides.</p>
</div >
      </article>
