
<div class="all autrepage">
    <div class="page">
      <header>
  		<nav class="nav1">
  			<ul id="list1">
    			<li>
      				<a href="/">
        				<%= image_tag("thp.png", :alt => "thp", size: "45x45", class: "logo") %>
      				</a>
    			</li>
						  	<div class="babar dropdown show">
						  <a class="pierre btn-lg btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
						  </a>

						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Le Programme", {:controller => "statics", :action => "programme"}, class:"dropdown-item"%>
						    <li class="divider"></li>
                <%= link_to "Le Peer-Learning", {:controller => "statics", :action => "peer"}, class:"dropdown-item"%>
						    <li class="divider"></li>
                <%= link_to "Le Code", {:controller => "statics", :action => "communaute"}, class:"dropdown-item"%>
						  </div>
						</div>
				</div>
			</ul>
  		</nav>
      <article class="peertest">
          <h1>Le peer learning</h1>
        <div class="paragrapheun">
        <h3>Qu'est-ce que le peer-learning ?</h3>
          <p>
Selon les psychologues Angela M. O'Donnell et Alison King, “le peer learning est un outil éducationnel dans lequel les étudiants interagissent entre eux afin d’atteindre leurs objectifs pédagogiques”.
</p>
<p>

En gros, le peer learning est une méthode d’apprentissage où les élèves deviennent professeurs et doivent s’expliquer entre eux les concepts qu’ils doivent apprendre.
</p>
</div >
<div  class="paragraphedeux">
<h3>Comment on met le peer-learning en place à The Hacking Project ?</h3>
<p>
Nous allons créer des groupes autonomes de ~6 personnes. Pendant 12 semaines, vous allez vous retrouver tous les matins pour transpirer ensemble. Les groupes seront hétérogènes et éclectiques : nous voulons que des polytechniciens apprennent à démarcher des restaurants avec des militaires en reconversion, des jeunes du 93, et des mères de famille.
</p>
<p>
Tous les jours, les moussaillons vont travailler ensemble sur des projets que nous allons donner. Tous les matins, nous allons vous donner des ressources (articles en ligne, cours vidéo que nous faisons nous-même, ou encore des documentations), puis vous aller devoir appliquer ces ressources dans des projets concrets qui vous feront transpirer ensemble. Le cursus est choisi soigneusement pour qu'il soit challengeant, mais pas décourageant.
</p>
<p>
Mais bien entendu, que seraient ces groupes sans une grande communauté de plus de 200 personnes qui englobe des devs, les alumnis, les fondateurs, et bien entendu tous les élèves ! Le but de toute cette communauté est de créér un écosystème bienveillant et où personne n'aura aucune gène à poser des questions, même les plus stupides. C'est en enseignant que l'on apprend, donc en quelque sorte la personne qui pose une question apprendra autant que la personne qui répond.
</p>
<p>
 Un autre avantage d'une grande communauté est l'aspect famille qui s'en dégage. Vous êtes fans de jeux de société ? Nous organisons des soirées jeux entre nous ! Ou bien vous voulez monter un club de nomades après la formation ? Venez rejoindre le notre !
</p>
</div >
      </article>
