

<div class="wrapper">
  <header class="header">Header</header>
  <article class="main">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
  </article>
  <aside class="aside aside-1">Aside 1</aside>
  <aside class="aside aside-2">Aside 2</aside>
  <nav class="nav nav-mid1">nav1</nav>
  <article class="main2">
  	<h1>2</h1>
  	<p>super article qui déchire du code</p>
  </article>
  <aside class="aside aside-3">Aside 3</aside>
  <nav class="nav nav-mid2">nav2</nav>
  <article class="main3">
  	<h1>3</h1>
  	<p> Thp c'est super cool il faut que tu viendre avec nous!</p>
  </article>
  <aside class="aside aside-4">Aside 4</aside>
  <nav class="nav nav-mid3">nav3</nav>
  <article class="main4">
  	<h1>4</h1>
  	<p> Encore un super article</p>
  </article>
  <aside class="aside aside-5">Aside 5</aside>
  <aside class="aside aside-6">Aside 6</aside>

  <footer class="footer">Footer</footer>
</div>

